body {
    background-color: #f4f8fb;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

h1 {
    color: darkblue;
    font-size: 32px;
    text-align: center;
}

.highlight {
    color: darkred;
    font-style: italic;
}

#main-title {
    text-transform: uppercase;
}
.main-title {
    text-transform: lowercase;
}


#special-link {
    font-weight: bold;
}

a {
    color: blue;
    font-size: 18px;
}


ul {
    background-color: #e3f2fd;
    padding: 10px;
}

ol {
    background-color: #fff3cd;
    padding: 10px;
}

dl {
    background-color: #f8d7da;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

/* laba 4 */

/* Контекстний селектор */
.latest-ads p {
  color: blue;
  position: relative;   
}


/* Дочірній селектор */
.categories > ul {
  background-color: #f2f2f2;
  padding: 10px;
}

/* Сусідній селектор */
h2 + p {
  color: red;
  font-weight: bold;
}

/* Лаба 5 */

.site-name {
    color: darkgreen;
    font-weight: bold;
}
.vip-ad {
    position: absolute;
    float:right;
    width:220px;
    background:#fff3cd;
    padding:10px;
    border:1px solid #ccc;
    margin:10px;
    position: absolute;
    right:10px;
    top:40px;
}
a:link{
    color: blue;
}

a:visited{
    color: purple;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:active{
    color: green;
}
table tr:first-child{
    background-color: #d1ecf1;
    font-weight: bold;
}
h2::before{
    content:"★ ";
    color:rgb(92, 0, 0);
}

h2::after{
    content:" ★";
    color:orange;
}